//colors
$color_cararra_approx: #ece8e7;
$color_baltic_sea_approx: #2b2b2b;
$color_chicago_approx: #58585b;
$gray: #808080;
$color_gallery_approx: #eeeeee;
$white: #ffffff;
$color_celeste_approx: #ccc;

//fonts
$font_0: Quicksand;
$font_1: sans-serif;

* {
	margin: 0;
	padding: 0;
}
body {
	margin: 0 auto;
	padding: 0 auto;
	text-align: center !important;
	font-family: $font_0, $font_1;
	line-height: 180%;
	background-color: #ECE8E7;
	font-size: 1.0em;
}
ul {
	list-style-type: none;
	margin: 10px 20px;
	padding: 0;
	text-align: left;
	font-size: 1.0em;
}
li {
	display: inline;
	margin-right: 20px;
}
a {
	color: #2B2B2B;
	text-decoration: none;
	&:hover {
		color: #58585B;
		text-decoration: none;
		cursor: pointer;
	}
}
.locationBox {
	text-align: center;
	margin: 7px;
}
.locKorea {
	border: 1px solid $gray;
	//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
	border-radius: 0;
	width: 200px;
	height: 35px;
	font-size: 0.9em;
	font-weight: bold;
	font-family: $font_0, $font_1;
	color: #2B2B2B;
	text-overflow: "";
	background: #EEEEEE url(img/select-arrow.png) no-repeat 94% center;
	text-indent: 0.01px;
	padding: 7px 7px 7px 15px;
	//Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: none;
	text-align: center;
}
#submit {
	width: 100px;
	height: 35px;
	font-size: 0.9em;
	font-weight: bold;
	padding: 7px;
	background: #58585B;
	border: 1px solid #2B2B2B;
	color: #FFFFFF;
	font-family: $font_0, $font_1;
}
form {
	text-align: center;
}
#abtbox {
	width: 60%;
	margin: 10px auto;
	background-color: #FFFFFF;
	padding: 20px;
}
section {
	margin: 0 auto;
	padding-top: 40px;
	width: 640px;
}
article {
	margin: 50px 0;
	text-align: center;
}
p {
	margin: 10px 0;
	line-height: 130%;
}
#logo {
	margin-top: 10px;
	margin-bottom: 20px;
	text-align: center;
}
#txt {
	margin: 0 auto;
	padding: 0 auto;
	font-size: 1.02em;
}
#tag {
	text-align: center;
}
#instafeed {
	text-align: center !important;
	margin: 50px auto;
	width: 85%;
	img {
		width: 100%;
		left: 0;
		border: 1px solid $color_celeste_approx;
	}
	a {
		position: relative;
		margin: 0 10px 25px 0;
		float: left;
		width: 24%;
	}
}
footer {
	clear: both;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 10px;
	font-size: 1.0em;
	height: 40px;
}